@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items>a {
  @apply text-lg font-semibold text-white hover:cursor-pointer;
  text-decoration: none;
  @apply hover:w-fit p-1  rounded-3xl hover:shadow-sm hover:shadow-white;
}

.nav-items>a>i{
  @apply text-base p-1  rounded-full;
}

.active {
    @apply w-fit px-1 border-b-white border-t-0 border-b-2 text-white shadow-sm shadow-white rounded-full;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.8, 1);
  }
}
.animate-bounce-2 {
  animation: bounce 8s infinite;
}
